/****** General ***********/
* {
    font-family: "Roboto", sans-serif;
  }
  
  .fa-solid {
    color: #9356DC;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
  }
  
  .main-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    color: #FF79DA;
    text-decoration: none;
  }
  
  /****** Loaders ***********/
  @-webkit-keyframes loading-rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loading-out {
    0% {
      height: 100vh;
      opacity: 1;
    }
    50% {
      height: 100vh;
      opacity: 1;
    }
    99% {
      height: 0;
      width: 100vw;
      opacity: 1;
    }
    100% {
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }
  @keyframes show-menu {
    from {
      opacity: 0;
      transform: translatey(-15%);
    }
    to {
      opacity: 1;
      transform: translatey(0%);
    }
  }
  .loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    -webkit-animation: loading-out 0.8s ease-out 2s forwards;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgb(200, 200, 200));
  }
  
  .loading__anim {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #9356DC;
    border-right-color: #FF79DA;
    border-radius: 22px;
    -webkit-animation: loading-rotate 2s infinite linear;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
  }
  
  /****** Buttons ***********/
  .bouton-rose {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    color: #FFF;
    padding: 15px 20px;
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
    z-index: 1;
  }
  .bouton-rose::before {
    position: absolute;
    content: "";
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(147, 86, 220, 0.85), rgba(255, 121, 218, 0.85));
    background-color: white;
    z-index: -1;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
    transition: 0.3s linear;
    opacity: 0;
  }
  .bouton-rose:hover::before {
    opacity: 1;
  }
  
  .card__heart--selected .second-heart {
    font-size: 22px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #101010;
    transition: 0.5s;
    background-image: none;
    background-color: transparent;
    background-clip: text;
    color: transparent;
    transition: 1s;
    opacity: 0;
  }
  .card__heart--selected .first-heart {
    font-size: 22px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #FFF;
    background-image: linear-gradient(to bottom, rgb(147, 86, 220), rgb(255, 121, 218));
    background-color: white;
    background-clip: text;
    color: transparent;
    transition: 1s;
  }
  .card__heart--selected:hover .first-heart {
    opacity: 0;
  }
  .card__heart--selected:hover .second-heart {
    opacity: 1;
  }
  
  .card__heart .second-heart {
    font-size: 22px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #101010;
    transition: 0.5s;
    background-image: none;
    background-color: transparent;
    background-clip: text;
    color: transparent;
    transition: 1s;
  }
  .card__heart .first-heart {
    font-size: 22px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #FFF;
    background-image: linear-gradient(to bottom, rgb(147, 86, 220), rgb(255, 121, 218));
    background-color: white;
    background-clip: text;
    color: transparent;
    transition: 1s;
    opacity: 0;
  }
  .card__heart:hover .second-heart {
    opacity: 0;
  }
  .card__heart:hover .first-heart {
    opacity: 1;
  }
  
  /****** Header ***********/
  .header div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header__logo {
    height: 63px;
  }
  .header__logo img {
    width: 162px;
  }
  
  .header__lieu {
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #EAEAEA;
    height: 50px;
    font-weight: 500;
  }
  .header__lieu i {
    margin-right: 17px;
    color: #353535;
  }
  
  .header__back {
    position: absolute;
    left: 17px;
    top: 17px;
    width: 30px;
    height: 30px;
  }
  .header__back i {
    font-size: 17px;
    color: #353535;
  }
  
  /****** Footer ***********/
  .footer {
    background: #353535;
    padding: 0px 25px;
    font-weight: 500;
  }
  
  .footer__logo {
    padding-top: 22px;
  }
  .footer__logo a {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
  }
  
  .footer__liens {
    margin: 0;
    padding: 16px 0 15px 0;
    list-style: none;
  }
  .footer__liens a {
    color: #FFF;
  }
  .footer__liens i {
    color: #FFF;
    font-size: 13px;
    width: 20px;
  }
  .footer__liens li {
    padding-bottom: 7px;
  }
  
  /****** Home ***********/
  .explorer {
    text-align: center;
    background: #F6F6F6;
  }
  .explorer h2 {
    margin: 0;
    padding-top: 39px;
    font-weight: 700;
    font-size: 24px;
    padding: 39px 75px 0px 75px;
  }
  .explorer h3 {
    margin: 20px 0 0 0;
    font-weight: 300;
    font-size: 18px;
    padding: 0px 15px;
  }
  .explorer a {
    margin-top: 27px;
    margin-bottom: 57px;
  }
  
  .fonctionnement {
    padding: 0px 20px 43px 20px;
  }
  .fonctionnement h2 {
    margin: 0;
    padding: 48px 0 25px 0;
    font-weight: 700;
    font-size: 24px;
  }
  
  .fonctionnement__step {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    background: #F6F6F6;
    border-radius: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-bottom: 25px;
    height: 72px;
  }
  
  .fonctionnement__number {
    height: 24px;
    width: 24px;
    background: #9356DC;
    color: #FFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    margin-left: -12px;
  }
  
  .fonctionnement__texte {
    font-weight: 500;
    font-size: 16px;
    padding: 0px 0px 0px 21px;
  }
  .fonctionnement__texte i {
    width: 30px;
  }
  
  .fonctionnement__texte--icon1 {
    font-size: 20px;
    color: #7E7E7E;
  }
  
  .fonctionnement__texte--icon2 {
    font-size: 16px;
    color: #7E7E7E;
  }
  
  .fonctionnement__texte--icon3 {
    font-size: 18px;
  }
  
  .restaurants {
    background: #F6F6F6;
    padding: 0px 20px 66px 20px;
  }
  .restaurants h2 {
    margin: 0;
    padding: 54px 0 25px 0;
    font-weight: 700;
    font-size: 24px;
  }
  
  .card {
    max-width: 100%;
    border-radius: 15px;
    background: #FFF;
    position: relative;
    margin-bottom: 18px;
  }
  .card img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  
  .card__text {
    padding: 16px 0 0 13px;
    color: #000;
  }
  
  .card__title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  
  .card__subtitle {
    font-size: 17px;
    font-weight: 300;
    margin: 0;
    padding: 6px 0px 15px 0px;
  }
  
  .card__caption {
    position: absolute;
    right: 13px;
    top: 13px;
    background: #99E2D0;
    color: #008766;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }
  
  /****** Restaurants ***********/
  .restaurant {
    text-align: center;
  }
  .restaurant img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    position: relative;
  }
  .restaurant .bouton-rose {
    margin-top: 28px;
    margin-bottom: 40px;
    padding: 15px 48px;
  }
  
  .restaurant__cont {
    border-radius: 40px 40px 0px 0px;
    background: #F6F6F6;
    margin-top: -40px;
    position: relative;
    padding: 0px 13px;
  }
  .restaurant__cont h1 {
    margin: 0;
    padding: 32px 0px 2px 4px;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-size: 28px;
    text-align:left;
  }
  .restaurant__cont .card__heart .first-heart {
    top: 40px;
    right: 41px;
    bottom: unset;
  }
  .restaurant__cont .card__heart .second-heart {
    top: 40px;
    right: 41px;
    bottom: unset;
  }
  .restaurant__cont h2 {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 40px;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    padding-bottom: 8px;
    margin-bottom: 12px;
  }
  .restaurant__cont hr {
    border-top: 3px solid #99E2D0;
    width: 40px;
  }
  
  .card-restaurant {
    background: #FFF;
    box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
    border-radius: 15px;
    margin-bottom: 12px;
    display: flex;
    overflow: hidden;
  }
  .card-restaurant:hover .card-restaurant__check {
    margin-right: 0px;
    transition: 0.5s;
  }
  
  .card-restaurant__text {
    width: calc(100% - 40px);
    text-align: left;
  }
  
  .card-restaurant__title {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-top: 12px;
    padding-left: 15px;
  }
  
  .card-restaurant__subtitle {
    font-size: 15px;
    font-weight: 300;
    padding: 5px 20px 12px 15px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .card-restaurant__price {
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: end;
    padding-bottom: 13px;
    width: 40px;
  }
  
  .card-restaurant__check {
    background: #99E2D0;
    width: 59px;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -100px;
    transition: 0.5s;
    cursor: pointer;
  }
  .card-restaurant__check i {
    color: #FFF;
    font-size: 20px;
  }
  
  .restaurant__menu > * {
    opacity: 0;
    animation: 1.5s show-menu ease forwards;
  }
  
  .restaurant__menuitem:nth-child(1) {
    animation-delay: 0.5s;
  }
  .restaurant__menuitem:nth-child(2) {
    animation-delay: 1.5s;
  }
  .restaurant__menuitem:nth-child(3) {
    animation-delay: 2.5s;
  }
  
  /****** Media querys ***********/
  @media (min-width: 768px) {
    .header__logo {
      height: 96px;
    }
    .header__logo img {
      width: 200px;
    }
    .header__lieu {
      box-shadow: none;
    }
    .header__back {
      top: 30px;
    }
    .explorer h2 {
      margin: 0;
      padding-top: 30px;
      font-weight: 700;
      font-size: 40px;
    }
    .explorer a {
      margin-bottom: 30px;
    }
    .fonctionnement {
      padding: 0px 20px 25px 20px;
    }
    .fonctionnement__cont {
      max-width: 1055px;
      margin: 0 auto;
    }
    .restaurants__cont {
      max-width: 1055px;
      margin: 0 auto;
    }
    .fonctionnement__stepcont {
      display: flex;
      justify-content: space-between;
    }
    .fonctionnement__step {
      width: calc((100% - 90px) / 3);
    }
    .restaurants {
      padding: 0px 20px 30px 20px;
    }
    .restaurants h2 {
      padding: 30px 0 25px 0;
    }
    .restaurants__listcont {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 50px;
    }
    .card {
      width: calc((100% - 100px) / 2);
      margin-bottom: 0px;
    }
    .card__text {
      padding: 16px 0 0 19px;
    }
    .footer {
      display: flex;
      flex-direction: row-reverse;
      padding: 57px 90px 30px 0px;
      align-items: center;
    }
    .footer__liens li {
      display: inline;
    }
    .footer__liens li:nth-child(1) {
      margin-right: 10px;
    }
    .footer__liens li:nth-child(2) {
      margin-right: 40px;
    }
    .footer__liens li:nth-child(3) {
      margin-right: 15px;
    }
    .footer__logo {
      padding-top: 0px;
      margin-left: 90px;
    }
    .restaurant img {
      height: 383px;
    }
    .restaurant__cont {
      width: 1055px;
      margin: -40px auto 0px auto;
    }
    .restaurant__cont h1 {
      display: inline-block;
      padding: 51px 0px 2px 4px;
      text-align:center;
    }
    .restaurant__cont .card__heart {
      position: relative;
      display: inline-block;
      padding-right: 24px;
    }
    .restaurant__cont .card__heart .first-heart {
      position: absolute;
      top: -20px;
      right: -20px;
      bottom: unset;
    }
    .restaurant__cont .card__heart .second-heart {
      position: absolute;
      top: -20px;
      right: -20px;
      bottom: unset;
    }
    .restaurant__menu {
      width: 634px;
      margin: 0 auto;
    }
  }