/****** General ***********/
* {
    font-family: "Roboto", sans-serif;
  }
  
  .fa-solid {
    color: #9356DC;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
  }
.loading { 
    width:100vw;
    height:100vh;
    position:fixed;
    z-index:10;
    -webkit-animation: loading-out 0.8s ease-out 2s forwards;
    background-image: linear-gradient(to bottom,rgba(255,255,255, 0.95),rgba(200,200,200, 1));
}
.loading__anim {
    height: 0;
    width: 0;
    padding: 15px;
    border: 6px solid #9356DC;
    border-right-color: #FF79DA;
    border-radius: 22px;
    -webkit-animation: loading-rotate 2s infinite linear;
    position: absolute;
    left: 50%;
    top: 50%;
}
@-webkit-keyframes loading-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes loading-out {
    0% {
        height: 100vh;
        opacity:1;
    }
    50% {
        height: 100vh;
        opacity:1;
    }
    99% {
        height:0;
        width:100vw;
        opacity:1;
    }
    100% {
        width:0;
        height:0;
        visibility:hidden;
    }
  }
  
  .bouton-rose {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
    font-size: 16px;
    font-weight: 500;
    border-radius: 25px;
    color: #FFF;
    padding: 15px 20px;
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to top,rgba(147,86,220, 1),rgba(255,121,218, 1));
    z-index: 1;
  }
  .bouton-rose::before {
    position: absolute;
    content: "";
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top,rgba(147,86,220, 0.85),rgba(255,121,218, 0.85));
      background-color: #FFF;;
    z-index: -1;
    box-shadow: 0px 4px 15px 0px #00000059;
    transition: 0.3s linear;
    opacity: 0;
  }
  .bouton-rose:hover::before {
    opacity: 1;
  }
  
  .main-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    color: #FF79DA;
    text-decoration: none;
  }
  
  /****** Header ***********/
  .header div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header__logo {
    height: 63px;
  }
  .header__logo img {
    width: 197px;
  }
  
  .header__lieu {
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #EAEAEA;
    height: 50px;
    font-weight: 500;
  }
  .header__lieu i {
    margin-right: 17px;
    color: #353535;
  }
  
  /****** Footer ***********/
  .footer {
    background: #353535;
    padding: 0px 25px;
    font-weight: 500;
  }
  
  .footer__logo {
    padding-top: 22px;
  }
  .footer__logo img {
    height: 27px;
  }
  
  .footer__liens {
    margin: 0;
    padding: 16px 0 15px 0;
    list-style: none;
  }
  .footer__liens a {
    color: white;
  }
  .footer__liens i {
    color: white;
    font-size: 13px;
    width: 20px;
  }
  .footer__liens li {
    padding-bottom: 7px;
  }

/****** Home ***********/
.explorer {
    text-align: center;
    background: #F6F6F6;
  }
  .explorer h2 {
    margin: 0;
    padding-top: 39px;
    font-weight: 700;
    font-size: 24px;
  }
  .explorer h3 {
    margin: 30px 0 0 0;
    font-weight: 300;
    font-size: 18px;
  }
  .explorer a {
    margin-top: 27px;
    margin-bottom: 57px;
  }
  
  .fonctionnement {
    padding: 0px 20px 43px 20px;
  }
  .fonctionnement h2 {
    margin: 0;
    padding: 48px 0 25px 0;
    font-weight: 700;
    font-size: 24px;
  }
  
  .fonctionnement__step {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    background: #F6F6F6;
    border-radius: 20px;
    max-width: 335px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-bottom: 25px;
    height: 72px;
  }
  
  .fonctionnement__number {
    height: 24px;
    width: 24px;
    background: #9356DC;
    color: #FFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    margin-left: -12px;
  }
  
  .fonctionnement__texte {
    font-weight: 500;
    font-size: 16px;
    padding: 0px 0px 0px 21px;
  }
  .fonctionnement__texte i {
    width: 30px;
  }
  .fonctionnement__texte--icon1 {
    font-size: 20px;
    color: #7E7E7E;
  }
  .fonctionnement__texte--icon2 {
    font-size: 16px;
    color: #7E7E7E;
  }
  .fonctionnement__texte--icon3 {
    font-size: 18px;
  }
  
  .restaurants {
    background: #F6F6F6;
    padding: 0px 20px 66px 20px;
  }
  .restaurants h2 {
    margin: 0;
    padding: 54px 0 25px 0;
    font-weight: 700;
    font-size: 24px;
  }
  
  .card {
    max-width: 490px;
    border-radius: 15px;
    background: #FFF;
    position: relative;
    margin-bottom: 18px;
  }
  .card img {
    width: 100%;
    height: 231px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
  }
  
  .card__text {
    padding: 16px 0 0 13px;
  }
  
  .card__title {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  
  .card__subtitle {
    font-size: 17px;
    font-weight: 300;
    margin: 0;
    padding: 6px 0px 15px 0px;
  }
  
  .card__caption {
    position: absolute;
    right: 13px;
    top: 13px;
    background: #99E2D0;
    color: #008766;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
  }
  
  .card__heart--selected .second-heart, .card__heart .second-heart {
    font-size: 22px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #101010;
    transition:0.5s;
    bottom: 30px;
    background-image:none;
    background-color: #FFF;
    background-clip: text;
    color: transparent;
    transition:1s;
   }
  .card__heart--selected .first-heart,  .card__heart .first-heart {
    font-size: 22px;
    position: absolute;
    right: 20px;
    bottom: 30px;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: #FFF;
    background-image: linear-gradient(to bottom,rgba(147,86,220, 1),rgba(255,121,218, 1));
    background-color: #FFF;
    background-clip: text;
    color: transparent;
    transition:1s;
  }
  .card__heart--selected .second-heart, .card__heart .first-heart, .card__heart--selected:hover .first-heart, .card__heart:hover .second-heart {
    opacity:0;
  }
  .card__heart--selected:hover .second-heart, .card__heart:hover .first-heart {
    opacity:1;
  }
