/****** Home ***********/
.explorer {
	text-align: center;
	background: #F6F6F6;
	h2 {
		margin: 0;
		padding-top: 39px;
		font-weight: 700;
		font-size: 24px;
		padding: 39px 75px 0px 75px;
	}
	h3 {
		margin: 20px 0 0 0;
		font-weight: 300;
		font-size: 18px;
		padding: 0px 15px;
	}
	a {
		margin-top: 27px;
		margin-bottom: 57px;
	}
}
.fonctionnement {
	padding: 0px 20px 43px 20px;
	h2 {
		margin: 0;
		padding: 48px 0 25px 0;
		font-weight: 700;
		font-size: 24px;
	}
}
.fonctionnement__step {
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
	background: #F6F6F6;
	border-radius: 20px;
	max-width: 100%;
	display: flex;
	align-items: center;
	margin-left: 12px;
	margin-bottom: 25px;
	height: 72px;
}
.fonctionnement__number {
	height: 24px;
	width: 24px;
	background: $main-color;
	color: #FFF;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 14px;
	margin-left: -12px;
}
.fonctionnement__texte {
	font-weight: 500;
	font-size: 16px;
	padding: 0px 0px 0px 21px;
	i {
		width: 30px;
	}
}
.fonctionnement__texte--icon1 {
	font-size: 20px;
	color: #7E7E7E;
}
.fonctionnement__texte--icon2 {
	font-size: 16px;
	color: #7E7E7E;
}
.fonctionnement__texte--icon3 {
	font-size: 18px;
}
.restaurants {
	background: #F6F6F6;
	padding: 0px 20px 66px 20px;
	h2 {
		margin: 0;
		padding: 54px 0 25px 0;
		font-weight: 700;
		font-size: 24px;
	}
}
.card {
	max-width: 100%;
	border-radius: 15px;
	background: #FFF;
	position: relative;
	margin-bottom: 18px;
	img {
		width: 100%;
		height: 174px;
		object-fit: cover;
		border-radius: 15px 15px 0px 0px;
	}
}
.card__text {
	padding: 16px 0 0 13px;
	color: #000;
}
.card__title {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
}
.card__subtitle {
	font-size: 17px;
	font-weight: 300;
	margin: 0;
	padding: 6px 0px 15px 0px;
}
.card__caption {
	position: absolute;
	right: 13px;
	top: 13px;
	background: $third-color;
	color: #008766;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
	font-size: 14px;
	font-weight: 500;
	width: 80px;
	height: 29px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
}