$main-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$main-bg-color: white;

/****** General ***********/
* {
	font-family: "Roboto", sans-serif;
}
.fa-solid {
	color: $main-color;
}
html {
	scroll-behavior: smooth;
}
body {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-weight: 300;
	font-size: 16px;
}
.bouton-rose {
	background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
	box-shadow: 0px 4px 10px 0px #00000040;
	font-size: 16px;
	font-weight: 500;
	border-radius: 25px;
	color: #FFF;
	padding: 15px 20px;
	display: inline-block;
}
.main-container {
	width: 100%;
	max-width: 100%;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: $secondary-color;
	text-decoration: none;
}
/****** Header ***********/
.header {
	div {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.header__logo {
	height: 63px;
	img {
		width: 197px;
	}
}
.header__lieu {
	box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	background: #EAEAEA;
	height: 50px;
	font-weight: 500;
	i {
		margin-right: 17px;
		color: #353535;
	}
}
/****** Footer ***********/
.footer {
	background: #353535;
	padding: 0px 25px;
	font-weight: 500;
}
.footer__logo {
	padding-top: 22px;
	img {
		height: 27px;
	}
}
.footer__liens {
	margin: 0;
	padding: 16px 0 15px 0;
	list-style: none;
	a {
		color: $main-bg-color;
	}
	i {
		color: $main-bg-color;
		font-size: 13px;
		width: 20px;
	}
	li {
		padding-bottom: 7px;
	}
}
